@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --cor-de-fundo: #EBECEE;
    --branco: #fff;
    --preto: #000;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;

    --fonte-principal: 'Poppins';
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

body{
    background-color: var(--cor-de-fundo);
}

a{
    text-decoration: none;
}

@import "styles/header";
@import "styles/banner";
@import "styles/carrosel";
@import "styles/card";
