.carrosel {
    .carrosel-titulo {
        color: var(--laranja);
        font-size: 18px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        background-color: var(--branco);
        padding: 20px 0 8px 0;
        text-transform: uppercase;
    }
}

.swiper {
    .swiper-wrapper {
        .swiper-slide {
            img {
                width: 100%;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    .swiper-pagination{
        position: initial;
    }
}