.rodape{
    hr{
        background-color: var(--preto);
    }
    h3{
        font-size: 16px;
        color: var(--preto);
        font-weight: 400;
        padding: 17px 308px 24px 24px;
        background-color: var(--fundo-secundario);
    }
}


